  .cnt {
  top: 0;
  width: 100%;
  left: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #94af76;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}

.section {
display: flex;
align-items: center;
}

.title {
  display:flex;
  flex-direction: column;
  margin: 10px 5px 5px 90px;
  color:#2a2c2c;
  padding: 0 20px;
}


.imagen {
  background-image: url(../globo-terraqueo\ \(2\).png);
  background-repeat: no-repeat;
  margin: 15px 5px 5px 30px;
}

.title h1 {
  font-size: 2.5em;
  font-family: 'monospace', sans-serif;
}



.btn {
  font-size: 30px;
  background-color: transparent;
  border: none;
  color:#ecf0f2;
  font-family: 'Roboto Mono', monospace;
  padding:10px;
  font-weight: 700;
  margin-right: 70px;
  border-radius: 2em;
  background-color: #7da9d5;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
}
.btn:hover {
color: rgba(255, 255, 255, 0.487);
border-radius: 2em;
background-color: #97df40;
}

/* .input {
  height: 20px;
  width: 50%;
  font-size: 15px;
} */



